.sq-mask {
	position: absolute;
	margin: 0;
	padding: 0;
	z-index: 999;
	background-color: #000000;
	text-align: center;
	display: table;
	color: #ffffff;
	opacity: 0.5;
}

.sq-mask .sq-mask-text-container{
	display: table-cell;
	vertical-align: middle;
}

.sq-mask .sq-mask-text-container i{
	margin-right: 5px;
}

.sq-mask .fa-pulse{
	-webkit-animation: fa-spin 1s infinite steps(8);
	animation: fa-spin 1s infinite steps(8);
}